/* Importieren von Google Fonts Schriftart */

@import url('https://fonts.googleapis.com/css2? family=Festlich&display=swap');
@import url('http://hintergrundbild.org/wallpaper/full/0/4/2/76914-farbverlauf-hintergrundbilder-2560x2048-samsung-galaxy.jpg');

/* Hintergrund Überschrift */

@import url('https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

html,

/* Unser Hintergrundbild(wallpaper) blau mit Formen */

body {
    background-color: lightcyan;
 background-image: url(https://images.pexels.com/photos/3284167/pexels-photo-3284167.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
}

/* Hauptüberschrift (fett, groß, unterstrichen) */

#Main-Überschrift {
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

h2 {
    color: blue;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

#contact {
    font-size: x-large;
    text-align: right;
}

#one {
    text-align: center;
}

#two {
    text-align: center;
}

#three {
    text-align: center;
}

#four {
    text-align: center;
}

#five {
    font-size: large;
    color: darkmagenta;
}

#seven {
    font-size: larger;
    color: crimson;
}

#eight {
    font-size: large;
    color: crimson;
}

#nine {
    text-align: center;
    font-size: larger;
}

h3 {
    font-size: larger;
}

button {
    color: dodgerblue;
}
