/* Importieren von Google Fonts Schriftart */

@import url('https://fonts.googleapis.com/css2? family=Festlich&display=swap');


html,

/* Unser Hintergrundbild(wallpaper) blau mit Formen */

body {
    background-color: aquamarine;
    font-family: 'Festive', cursive;
    background-image: url(http://hintergrundbild.org/wallpaper/full/0/4/2/76914-farbverlauf-hintergrundbilder-2560x2048-samsung-galaxy.jpg);
}

/* Hauptüberschrift (fett, groß, unterstrichen) */

#Main-Überschrift {
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

h2 {
    color: blue;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

#one {
    text-align: center;
}

#two {
    text-align: center;
}

#three {
    text-align: center;
}

#four {
    text-align: center;
}

#five {
    font-size: large;
    color: darkmagenta;
}

#seven {
    font-size: larger;
    color: crimson;
}

#eight {
    font-size: large;
    color: crimson;
}

#nine {
    text-align: center;
    font-size: larger;
}

h3 {
    font-size: larger;
}

button {
    color: dodgerblue;
}

a {
    color:dodgerblue;
}
